a {
  color: white !important;
  text-decoration: none
}
   
@font-face {
	font-family: Roboto-Thin;
	src: url(Roboto-Thin.ttf);
}

@font-face {
	font-family: Roboto-Light;
	src: url(Roboto-Light.ttf);
}

body {
	background: rgb(131,58,180);
	background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
	font-family: Roboto-Light;
	font-size: 18px;
	color: white;
	margin: auto;
	width: 840px;
}

header {
	margin-top: 25px;
	font-size: 45px;
	padding: 28px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
}

header a, img {
  vertical-align: middle;
  font-family: Roboto-Thin;
}

.menu {
	margin-bottom: 20px;
	margin-top: 20px;
	padding-left: 0px;
	padding-right: 36px;
	font-family: Roboto-Thin;
	font-size: 30px;
}

.menu li {
	display: inline-block;
	padding-right: 20px;
	padding-left: 20px;
	text-align: center;
}

.menu li:hover {
	background-color: rgba(0, 0, 0, 0.4);
	cursor: pointer;
	transition: 1s;
	transition-timing-function: liniear;
}

main{
	margin: auto;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.5);
	text-align: center;
}

article {
	margin: 30px;
	text-align: left;
}

h2 {
	border-bottom: 2px solid white;
	padding-bottom: 2px;
	margin-left: 30px;
	text-align: left;
}

main img {
	margin-top: 10px;
	margin-bottom: 10px;
}

footer {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
	font-size: 15px;
}

.highlight {
	border-left: 3px solid white;
	padding-left: 15px;
}




